:root {
  --shadow:rgba(0, 0, 0, 0.2);
  
  --bg: #FDF6E3;
  --header-bg:#F9F1E1;
  --button-bg:#f5eddd;
  --button-hover-bg:#D1DFD0;
  --button-active-bg:#A9B5A9;

  --fg: #67A198;
  --fg-alt: #657B83;
  --fg-alt2: #268BD2;

  --accent: #DC322F;
  --accent-alt: #fa9600;
}
