:root {
  --shadow:rgba(0, 0, 0, 0.2);
  
  --bg: #fef8ec;
  --header-bg:#F9F1E1;
  --button-bg:#f5eddd;
  --button-hover-bg:#D1DFD0;
  --button-active-bg:#A9B5A9;

  --fg: #005661;
  --fg-alt: #557c81;
  --fg-alt2: #8ca6a6;

  --accent: #0094f0;
  --accent-alt: #ff5792;
}
