@font-face {
  font-family: Local Cascadia Mono;
  src: url('CascadiaMono.woff2');
}
@font-face {
  font-family: Local Cascadia Mono Italic;
  src: url('CascadiaMonoItalic.woff2');
}

@font-face {
  font-family: 'Local Open Sans';
  src: url('OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-style: normal;
}
@font-face {
  font-family: 'Local Open Sans';
  src: url('OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 300 900;
  font-style: italic;
}

:root {
  --code-font: 'Local Cascadia Mono',monospace;
  --prose-font: 'Local Open Sans', sans-serif;
  --header-font: 'Local Open Sans', sans-serif;

  --code-fontsize: 0.9rem;
  --prose-fontsize: 1rem;
}
