@font-face {
  font-family: Local Cascadia Mono;
  src: url('CascadiaMono.woff2');
}
@font-face {
  font-family: Local Cascadia Mono Italic;
  src: url('CascadiaMonoItalic.woff2');
}
@font-face {
  font-family: Local Open Sans;
  src: url('OpenSans-Regular.woff2');
}
@font-face {
  font-family: Local Open Sans Italic;
  src: url('OpenSans-Italic.woff2');
}
@font-face {
  font-family: Local Open Sans Light;
  src: url('OpenSans-Light.woff2');
}
@font-face {
  font-family: Local Open Sans Light Italic;
  src: url('OpenSans-LightItalic.woff2');
}

:root {
  --code-font: 'Local Cascadia Mono',monospace;
  --prose-font: 'Local Open Sans', sans-serif;
  --header-font: 'Local Open Sans Light', sans-serif;

  --code-fontsize: 1rem;
  --prose-fontsize: 1rem;
}
