@import 'asciidoc.css';
@import 'colorscheme.css';
@import 'scrollbars.css';
@import 'fonts.css';
@import 'highlight.css';

:root {
  --title-width: 130px;
  --controls-max-width: 560px;
  --app-height: 100vh;
}

.smallViewport {
  display: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: var(--tab-bg);
}

.main {
  display: grid;
  grid-template-rows: 40px auto;
  border: 0;
  margin: 0;
  padding: 0;
  height: var(--app-height);
}

.pageHeader * {
  font-family: Local Cascadia Mono;
  font-weight: 400;
}

.pageHeader {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border: 0;
  z-index: 100;

  justify-content: center;
  box-shadow: 0 0 6px 0 var(--shadow);
  background-color: var(--header-bg);
}

.pageTitle {
  margin: auto 0;
  padding: 0 10px;
  width: var(--title-width);
}

.pageTitle a {
  text-decoration: none;
}

.pageTitle h1 {
  margin: auto auto;

  color: var(--fg);
  font-size: 24px;
}

.controls {
  display: flex;
  margin: 0;
  border: 0;
  max-width: var(--controls-max-width);
}

.controls button {
  height: 100%;
  border: 0;
  padding: 10px 25px;

  background-color: var(--button-bg);
  font-family: Local Cascadia Mono;
  font-size: 13px;
  color: var(--fg);
  cursor: pointer;
  box-shadow: 0 0 2px 0 var(--shadow);
}

.controls button:hover {
  background-color: var(--button-hover-bg);
}

.controls button:focus {
  background-color: var(--button-hover-bg);
}

.controls button:active {
  background-color: var(--button-active-bg);
}

.loadingIcon {
  padding: 18px 0px;
}

.pageContent {
  display: flex;
  overflow: auto;
  border: 0;
  margin: 0;
  padding: 30px;
  background-color: var(--bg);
}


/* max-width must be larger that sum of --title-width and --controls-max-width */
@media only screen and (max-width: 767px) {
  .smallViewport {
    display: inline;
  }

  .largeViewport {
    display: none;
  }

  .pageContent {
    padding: 10px 0px 10px 10px;
  }
  
  #content {
    padding: 0;
  }
}
