@import 'util.css';
@import 'lux.css';
@import 'scrollbars.css';
@import 'fonts.css';
@import 'header-anchor.css';


:root {
  --title-width: 130px;
  --controls-max-width: 560px;
}

.smallViewport {
  display: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  /* color: rgba(0, 0, 0, .8); */
  color: var(--foreground);
  padding: 0;
  margin: 0;
  font-family: var(--prose-font);
  font-size: var(--prose-fontsize);
  font-weight: 400;
  font-style: normal;
  cursor: auto;
  tab-size: 4;
  word-wrap: anywhere;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: var(--code-font);
  font-size: var(--code-fontsize);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ac04);
  /* color: var(--red); */
  opacity: 0.9;
  font-weight: var(--header-font-weight);
}

strong {
  color: var(--red);
  font-weight: 600;
}

em {
  color: var(--magenta);
}

li::marker {
  /* color: var(--bright-yellow); */
}

a {
  background: none;
  color: var(--bright-blue);
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

a:hover, a:focus {
  color: var(--blue);
}

hr {
  border: solid var(--foreground);
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

img,
object,
svg {
  display: inline-block;
  vertical-align: middle
  overflow-x: auto;
  max-width: 100%;
}

@media not print {

  body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }

  /* Header */
  .pageHeader * {
    font-family: Local Cascadia Mono;
    font-weight: 400;
    color: var(--ac04);
    opacity: 0.9;
  }

  .pageHeader {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: 0;
    z-index: 100;

    justify-content: center;
    background-color: var(--bg02);
  }

  .pageTitle {
    margin: auto 0;
    padding: 0 10px;
    width: var(--title-width);
  }

  .pageTitle a {
    text-decoration: none;
  }

  .pageTitle h1 {
    margin: auto auto;
    font-size: 24px;
  }

  .controls {
    display: flex;
    margin: 0;
    border: 0;
    max-width: var(--controls-max-width);
  }

  .controls button {
    height: 100%;
    border: 0;
    padding: 10px 25px;

    background-color: var(--bg02);
    font-family: Local Cascadia Mono;
    font-size: 13px;
    cursor: pointer;
  }

  .controls button:hover,
  .controls button:focus {
    background-color: var(--bg09);
  }

  .controls button:active {
    background-color: var(--bg12);
  }

  .loadingIcon {
    padding: 18px 0px;
  }

  /* Content */
  .pageContent {
    border: 0;
    margin: 0;
    padding: 30px;
  }

}

a.external::after {
  content: "🌐";
  font-size: 0.85em;
  margin-left: 0.1em;
  display: inline-block;
}


/* max-width must be larger that sum of --title-width and --controls-max-width */
@media only screen and (max-width: 767px) {
  .smallViewport {
    display: inline;
  }

  .largeViewport {
    display: none;
  }

  .pageContent {
    padding: 10px 10px 10px 10px;
  }
}

@media print {
  .pageHeader {
    display: none;
  }
}



