* {
  scrollbar-color: var(--button-hover-bg) var(--tab-bg);
}

/* Minimalistic Webkit scrollbars for browsers not supporting scollbar-color (Chrome, Safari) */
::-webkit-scrollbar {
  background-color: var(--button-hover-bg);
  cursor: pointer;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-corner {
  background-color: var(--tab-bg);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--tab-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--button-hover-bg);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--button-active-bg);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--button-active-bg);
}
